.middle {
    display: flex; /* Enables flexbox */
    justify-content: space-between; /* Aligns children with space between them */
    align-items: center; /* Aligns items vertically centered */
    padding: 20px; /* Optional: Add some padding */
  }

.child {
    flex: 1; /* Optional: makes children take equal space */
    margin: 0 10px; /* Optional: Margin between children */
  }

.mainImage{
    width:350px;
    height: 400px;
}


  